<p class="field" id="bvat_number">
	<%= bill_form.label :vat_number, t(:vat_number) %><br />
	<%= bill_form.text_field :vat_number %>
</p>
<p class="field" id="btax_id_number">
	<%= bill_form.label :tax_id_number, t(:tax_id_number) %><br />
	<%= bill_form.text_field :tax_id_number %>
</p>