<p class="field" id="svat_number">
	<%= ship_form.label :vat_number, t(:vat_number) %><br />
	<%= ship_form.text_field :vat_number %>
</p>
<p class="field" id="stax_id_number">
	<%= ship_form.label :tax_id_number, t(:tax_id_number) %><br />
	<%= ship_form.text_field :tax_id_number %>
</p>