<p class="field" id=<%="#{address_id}tax_id_number" %>>
	<%= form.label :tax_id_number, t(:tax_id_number) %><span class="required">*</span><br />
	<%= form.text_field :tax_id_number, :class => 'required' %>
</p>
